<!DOCTYPE html>
<html lang="en" >
<head>
    <base href="http://localhost:3000" />
    <meta charset="UTF-8">
    <meta name="viewport" content="" >
    <title>Minigame</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src = "./scripts/web3.js" ></script>
    <script src="./process.js" ></script>
</head>
<body>
<h2>Minigame</h2>
<div id="formDangKy" >
    <button id="connectMM" >Connect meta mask</button>
    <input id="txtHoten" type="text" placeholder="Ho ten" >
    <input id="txtEmail" type="text" placeholder="Email" >
    <input id="txtSdt" type="text" placeholder="sdt" >
    <button id="btnDangky" >Dang ky</button>
</div>
</body>
</html>
