<!DOCTYPE html>
<html lang="en" >
<head>
    <base href="http://localhost:3000" />
    <meta charset="UTF-8">
    <meta name="viewport" content="" >
    <title>Minigame</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src = "./scripts/web3.js" ></script>
    <script src="./process.js" ></script>
    <style>
        #formDangKy, #danhsach{
            background-color: antiquewhite;
            padding: 10px;
            margin-bottom: 5px;
        }
        #tbDS{
            width: 90%;
        }
        #dong1 td {
            text-align: center;
            padding: 4px;
            border-bottom: solid 1px cornflowerblue;
        }
    </style>
</head>
<body>
<h2>Minigame</h2>
<div id="formDangKy" >
    <button id="connectMM" >Connect meta mask</button>
    <input id="txtHoten" type="text" placeholder="Ho ten" >
    <input id="txtEmail" type="text" placeholder="Email" >
    <input id="txtSdt" type="text" placeholder="sdt" >
    <button id="btnDangky" >Dang ky</button>
</div>
<div id="danhsach" >
    <table id="tbDS" >
        <tr id="dong1" >
            <td>Address</td>
            <td>_id</td>
        </tr>

    </table>
</div>
</body>
</html>
